.container {
  display: flex;
}

.leftBorder {
  width: 200px;
  height: 100vh;
  background-color: #333750;
}

.taskHeaderContainer {
  width: 100%;
}

.header {
  height: 6%;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 75%);
}

.taskContainer {
  width: 25em;
  margin-top: 100px;
  padding: 10px;
}

.taskDescription {
  display: flex;
  font-weight: 600;
  box-shadow: 0 0px 3pt 0.5pt #d3d3d3;
}

.descrippName{
 font-weight: bold;
}
.taskincreament{
  color: rgb(165, 160, 160);
  margin-left: 13px;
  font-weight: bold;
}

.descriptionBox {
  width: 87%;
  border: 1px solid rgb(212, 210, 210);
  border-right: none;
  border-top-left-radius: 4px;
  padding: 14px 10px 3px 10px;
  height: 30px;
  background: #f1f1f1;
  display: flex;
}

.btnAdd {
  width: 13%;
  font-size: 25px;
  text-align: center;
  border: 1px solid rgb(212, 210, 210);
  cursor: pointer;
  padding-top: 3px;
  background: #f7f7f7;
}

/* taskShow */

.taskFields {
  border: 1px solid rgb(212, 210, 210);
  padding: 1px 20px;
  background: #ebf7fd;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.fieldView {
  margin: 10px 0px;
}

.fielddateView {
  margin: 10px 0px;
  width: 50%;
}

.tasknameInput {
  width: 97%;
  height: 32px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid rgb(212, 210, 210);
  padding-left: 7px;
}

.dateTime {
  display: flex;
}

.taskDate {
  height: 34px;
  width: 80%;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid rgb(212, 210, 210);
  font-family: unset;
  text-transform: uppercase;
  padding-left: 7px;
}

input {
  border: none;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  left: 10;
  position: absolute;
  right: 0;
  top: 0;
  width: 200%;
  height: auto;
  padding: 5px 100px;
}

input:focus,select:focus{
    border: 1px solid #64a7e2;
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
}

.dateView{
  display: flex;
  margin-top: 10px;
  margin-right: 8px;
}


.taskTime {
  height: 32px;
  width: 72%;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid rgb(212, 210, 210);
  font-family: unset;
  padding-left: 7px;
}

.customBtn {
  padding: 5px 0px;
  text-align: right;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.btn_view {
  width: 85%;
}

.btn_view button{
  height: 32px;
}

.removebtnview {
  width: 15%;
}

.cancelBtn {
  width: 30%;
  margin: 0px 10px;
  height: 38px;
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 600;
  border-radius: 8px;
}

.saveBtn {
  width: 30%;
  margin: 0px 10px;
  background-color: rgb(62 152 62);
  border: 1px solid rgb(212, 210, 210);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.removeIcon {
  width: 18px;
  padding: 3px 15px;
  margin-right: 10px;
  cursor: pointer;
}

/* addingTask */

.allTasklist{
  border: 1px solid rgb(212, 210, 210);
  padding:1px 12px;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 4px -1px rgb(136 136 130 / 75%);
}

.addingTask {
  border: 1px solid rgb(212, 210, 210);
  padding: 7px 16px;
  display: flex;
  height: 40px;
  margin: 13px 0px;
  border-radius: 4px;
}

.prof_Name {
  width: 50%;
  display: flex;
}

.img_view {
  width: 23%;
  margin-right: 10px;
}

.showTaskname {
  font-weight: bold;
  color: rgb(73, 71, 71);
}

.showTaskdate {
  color: rgb(236, 13, 13);
}

.taskicons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.editIcon {
  width: 14px;
  border: 1px solid rgb(212, 210, 210);
  padding: 2px 13px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
  background: #f9f9f9;
  font-size: 16px;
}
.editIconshow {
  transform: rotate(80deg);
  padding: 2px;
}

.bellIcon {
  width: 13px;
  border: 1px solid rgb(212, 210, 210);
  padding: 8px 14px 2px ;
  border-right: none;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background: #f9f9f9;
}

.okIcon {
  width: 13px;
  border: 1px solid rgb(212, 210, 210);
  padding: 2px 14px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: #f9f9f9;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-top-right-radius: 4px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -60px;
}

.addTaskPosition {
  left: 100%;
}

.editTaskPosition {
  left: 100%;
}

.deleteTaskPosition {
  left: 85%;
}

.tooltip .tooltiptext.bellTaskPosition::after {
  left: 18%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 13px;
  white-space: nowrap;
  padding: 7px 10px;
}

/* dropdownContainer */

.menu-bar-item{
  position: relative;
  display: inline-block;
	margin: 0 2px;
}
.menu-bar-link{
  display: flex;
  margin-top: 10px;
  font-family: unset;
}

.timeiconView{
  border: 1px solid rgb(212, 210, 210);
  padding: 5px 6px 0px 6px;
  color: black;
  border-radius: 5px 0px 0px 5px;
  background: #ece9e9;
}

.clockIcon{
  width: 18px;
}

.mega-menu{
  display: none;
}
.mega-menu.true{
  display: block;
}
.dropdownContent{
  background: #ffffff;
  border: 1px solid #ccc;
  position: absolute;
  top: 57px;
  right: 20px;
  width: 7em;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.11765) 0px 1px 6px,rgba(0,0,0,0.11765) 0px 1px 4px;
}

.dropdownlabel{
  background: #ece9e9;
  text-align: center;
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
  box-shadow: rgb(0 0 0 / 12%) 1px 1px 4px, rgb(0 0 0 / 12%) 0px 0px 1px;
}

.timeContainer{
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  text-align: center;
}
.viewTimings{
  padding: 5px 0px;
  cursor: pointer;
}

.timeOptionArrow ::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 37%;
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent #ccc9c9 transparent;
  height: 5px;
}