.container {
  display: flex;
}

.leftBorder {
  width: 200px;
  height: 100vh;
  background-color: #333750;
}

.taskHeaderContainer {
  width: 100%;
}

.header {
  height: 6%;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 75%);
}

.taskContainer {
  width: 25em;
  margin-top: 100px;
  padding: 10px;
}

.taskDescription {
  display: flex;
  font-weight: 600;
}

.descriptionBox {
  width: 90%;
  border: 1px solid rgb(212, 210, 210);
  /* padding: 20px 20px; */
  border-right: none;
  border-top-left-radius: 4px;
  padding: 8px 10px;
}

.btnAdd {
  width: 10%;
  font-size: 20px;
  text-align: center;
  border: 1px solid rgb(212, 210, 210);
  cursor: pointer;
}

/* taskShow */

.taskFields {
  border: 1px solid rgb(212, 210, 210);
  padding: 1px 20px;
  background: #ebf7fd;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.fieldView {
  margin: 10px 0px;
}

.fielddateView {
  margin: 10px 0px;
  width: 50%;
}

/* .taskName { */
  /* margin-bottom: 10px;
  font-weight: 500; */
/* } */

.tasknameInput {
  width: 97%;
  height: 32px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid rgb(212, 210, 210);
}

.dateTime {
  display: flex;
}

.taskDate {
  height: 32px;
  width: 92%;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgb(212, 210, 210);
  font-family: unset;
  text-transform: uppercase;
}

.taskTime {
  height: 32px;
  width: 95%;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgb(212, 210, 210);
  font-family: unset;
}

.customBtn {
  padding: 5px 0px;
  text-align: right;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.btn_view {
  width: 85%;
}

.btn_view button{
  height: 32px;
}

.removebtnview {
  width: 15%;
}

.cancelBtn {
  width: 30%;
  margin: 0px 10px;
  height: 38px;
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 600;
  border-radius: 8px;
}

.saveBtn {
  width: 30%;
  margin: 0px 10px;
  background-color: rgb(62 152 62);
  border: 1px solid rgb(212, 210, 210);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.removeIcon {
  width: 4%;
  padding: 3px 15px;
  margin-right: 10px;
  cursor: pointer;
}

/* addingTask */

.addingTask {
  border: 1px solid rgb(212, 210, 210);
  padding: 10px 20px;
  display: flex;
  height: 40px;
  margin: 5px 0px;
  border-radius: 4px;
}

.prof_Name {
  width: 50%;
  display: flex;
}

.img_view {
  width: 23%;
  margin-right: 10px;
}

.showTaskname {
  font-weight: 500;
  color: rgb(95, 92, 92);
}

.showTaskdate {
  color: rgb(236, 13, 13);
}

.taskicons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.editIcon {
  width: 5%;
  border: 1px solid rgb(212, 210, 210);
  padding: 2px 15px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
}
.editIconshow {
  transform: rotate(80deg);
  padding: 2px;
}

.bellIcon {
  width: 10px;
  border: 1px solid rgb(212, 210, 210);
  padding: 8px 15px 2px 15px;
  border-right: none;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.okIcon {
  width: 10px;
  border: 1px solid rgb(212, 210, 210);
  padding: 2px 15px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-top-right-radius: 4px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -60px;
}

.addTaskPosition {
  left: 100%;
}

.editTaskPosition {
  left: 100%;
}

.deleteTaskPosition {
  left: 85%;
}

.tooltip .tooltiptext.bellTaskPosition::after {
  left: 18%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 13px;
  white-space: nowrap;
  padding: 7px 10px;
}
/* 
 */
